@page-color: #444;
@page-background: #fff;
@page-size: 400px;

@padding: 12px;
@border-radius: 3px;

@vue-color: #5dc596;

@link-color: @vue-color;
@link-hover-color: lighten(@link-color, 10%);

@nav-link-color: lighten(black, 50%);

@hr-border: solid 1px lighten(black, 90%);

@input-background: @page-background;
@input-color: @page-color;
@input-border: solid 1px lighten(black, 90%);
@input-active-border: solid 1px lighten(@vue-color, 15%);

@console-background: lighten(black, 30%);
@console-color: white;
@console-padding: @padding;

@dir-background: lighten(black, 90%);
@dir-color: lighten(@page-color, 10%);
@dir-padding: @padding;

@warning-background: #c55c5c;
@warning-color: white;
@warning-link-color: #e9c4c4;
